.userModal {
  padding: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 300px;
  overflow: hidden;
  justify-content: stretch;
  background-color: white;
  border-radius: 15px;
  transform: translate(-50%, -50%);

  .form {
    height: 250px;
    overflow: scroll;
  }

  .form-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
  }
}
