.profile-page {
    .item {
        height: 30px;
        width: 100%;
    }

    input {
        outline: none;
        border: 0;
        background: none;
        text-align: end;
    }

    .avatar {
        padding: 3px;
        height: 150px;
        width: 150px;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 150px;
    }

    .avatar:hover {
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }

    .avatar:hover p {
        visibility: visible;
    }

    .avatar p {
        text-align: center;
        color: $white-color;
        visibility: hidden;
    }

    .profile-form {
        height: 100%;
        margin-left: 20vw;
        margin-right: 20vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .editAvatar {
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-load-file {
        width: 500px;
        height: 300px;
        background-color: $white-color;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .form-load-file span {
        cursor: pointer;
    }
}
