.registration-page {
    min-height: 650px;
    width: 350px;
    padding: 20px;

    a {
        text-align: center;
        color: $primary-color;
    }

    h1 {
        color: $primary-color;
    }
}
