$primary-color: #5dd862;
$danger-color: #dc3545;
$white-color: white;
$silver-color: silver;
$grey-color: grey;

.registration-page {
  min-height: 650px;
  width: 350px;
  padding: 20px;

  a {
    text-align: center;
    color: $primary-color;
  }

  h1 {
    color: $primary-color;
  }
}
